address {
  float: right;
  margin-top: 26px;
}

@media screen and (max-width: 1000px) {
  address {
    clear: both;
    float: none;
    margin-bottom: 6px;
    margin-top: 0;
    text-align: center;
  }

  ul.about li {
    float: left;
  }
}

@media screen and (max-width: 400px) {
  ul.about li {
    display: list-item;
    float: none;
  }

  .site {
    width: 90%;
  }
}

img {
  max-width: 100%;
}

pre {
  overflow-x: scroll;
}

header {
  padding: 12px;
}

h1 {
  font-size: 36px;
  line-height: 1.3em;
}

h1 > a, h1 > a:visited, h1 > a:active, h1 > a:hover {
  color: #111;
}

article {
  margin: auto;
  width: 95%;
}

footer ul {
  list-style: none;
}

footer li {
  display: inline-block;
  margin-right: 8px;
}

.contact {
  margin: 12px;
}

.about > li:before {
  content: "\002b";
  color: gold;
  font-size: 1.5em;
  margin-right: 8px;
}

.background {
  background: url('/images/seattle-pencil.jpeg') bottom center no-repeat;
  bottom: 0px;
  height: 100%;
  opacity: 0.3;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.site {
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 4px 1px #111111;
}

.container {
  padding-bottom: 150px;
}

p.image-container {
  text-align: center;
}
